* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    pointer-events: all;
}
body {
    position: relative;
    overflow: hidden;
    pointer-events: none;
}
input {
    outline: none;
    background: rgba(0,0,0,0);
    border: none;
}
.fx {
    display: flex;
    align-items: center;
}
/* 容器 */
#container_outer {
    max-height: 700px;
    overflow-y: auto;
}
/* 滚动条整体样式 */
#container_outer::-webkit-scrollbar {
    /* 高宽分别对应横竖滚动条的尺寸 */
    width: 10px;
    height: 1px;
}
/* 滚动条里面小方块 */
#container_outer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #535353;

}
/* 滚动条里面轨道 */
#container_outer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: rgba(0,0,0,0);
}

#container {
    overflow: hidden !important;
    position: relative;
    /*max-height: 600px;*/
}
/* 容器拖动遮罩 */
#container_move {
    width: 100%;
    height: 100%;
    z-index: 99 !important;
    -webkit-app-region: drag;
    display: none;
    overflow-y: auto;
    max-height: 700px;
    position: fixed !important;
}

#container, #toolbar {
    box-shadow: 1px 1px 6px #c8c8c8;
    border-radius: 6px;
}
/* 其它画板 */
#container_move, #mainCanvas, #frontCanvas, #drawCanvas, #textBox {
    position: absolute;
    z-index: 8;
    left: 0;
    top: 0;
}
#frontCanvas {
    z-index: 9;
}
/* 文本工具 */
.text_input {
    box-sizing: content-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    background:none;
    outline:none;
    font-size: 20px;
    overflow-y: auto;
    min-width: 20px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 6px;
    word-wrap:break-word;
    word-break:break-all;
    padding: 4px;
    border: 2px solid rgba(0,0,0,0);
    user-select: none;
}
.text_input_active {
    border: 2px solid #f15;
}
.text_input_move {
    cursor: move;
    user-select: none;
}
.text_input::-webkit-scrollbar {
    display: none;
}
/* 序号工具 */
#serial_number_box>div>div::-webkit-scrollbar {
    display: none;
}
#serial_number_box>div {
    position: absolute;
    z-index: 10;
    /*left: 50px;*/
    /*top: 10px;*/
    box-sizing: content-box;
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
    outline: none;
    min-width: 20px;
    max-width: 100%;
    min-height: 16px;
    word-wrap:break-word;
    word-break:break-all;
    padding: 8px 10px;
    font-size: 12px;
    color: #ffffff;
}
#serial_number_box>.right {
    transform: rotateY(180deg);
}
#serial_number_box>.right>span {
    transform: rotateY(180deg);
}
#serial_number_box>.right>div{
    transform: rotateY(180deg);
}
#serial_number_box>div>div {
    outline: none;
    max-width: 100%;
    word-wrap:break-word;
    word-break:break-all;
    color: #ffffff;
    max-height: 100px;
    overflow-y: auto;
}
#serial_number_box>div>span {
    font-size: 12px;
    display: block;
    position: absolute;
    left: -30px;
    top: 5px;
    width: 20px;
    height: 20px;
    background: #369ff3;
    text-align: center;
    border-radius: 50%;
    line-height: 20px;
    cursor: pointer;
}
/* 小箭头 */
#serial_number_box>div::after {
    content: '';
    position: absolute;
    left: -10px;
    top: 8px;
    display: block;
    /*clip-path: polygon(0 50%, 100% 100%, 100% 0);*/
    border-top: 5px solid transparent;
    border-right: 10px solid rgba(0,0,0,0.7);
    border-bottom: 5px solid transparent;
}
/* 编号 */

/* 工具条 */
#toolbar, #settingBox {
    margin-top: 2px;
    margin-left: 5px;
    height: 32px;
    padding: 0 5px;
    background: #eaeef5;
    box-shadow: 1px 1px 4px #c8c8c8;
    display: inline-flex;
    align-items: center;
    z-index: 100 !important;
    user-select: none;
}
#toolbarBox {
    /*right: 0;*/
}
#settingBox {
    border-radius: 6px;
    font-size: 14px;
}
#settingBox>div {
    display: flex;
    align-items: center;
    user-select: none;
}
.colorChunkBox {
    width: 156px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 16px);
    gap: 4px;
}
.colorChunkBox>div {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    cursor: pointer;
}
/* 工具 */
#toolbar>.tool {
    text-align: center;
    font-size: 20px;
    padding: 2px;
    margin: 0 4px;
    cursor: pointer;
    color: #7c7c7c;
    border-radius: 6px;
    transition: all 280ms ease-in-out;
}
/* 工具激活效果 */
#toolbar .active {
    box-shadow: inset 20px 20px 60px #489dcf,
    inset -20px -20px 60px #62d5ff;
    color: #ffffff !important;
}
#toolbar>.tool:hover {
    color: rgb(19,20,30);
}
/* 工具的分隔符 */
#toolbar>.separator {
    height: 32px;
    border-left: 1px dashed #c3c3c3;
}
.stopEvents {
    pointer-events: none;
}
/* 浮标 */
#cursor {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 3px dashed #ff0000;
    z-index: 1001;
    border-radius: 50%;
    pointer-events: none;
    display: none;
}
/* 提示 */
#tips {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    padding: 6px;
    width: auto;
    z-index: 1002;
    pointer-events: none;
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    color: #ffffff;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}
